

.container {
  width: 1140px;
  margin: 0 auto;
}

.navigation {
  background-color:#1E1E1E;
  height:103px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 140px;
  font-family: chantal, sans-serif;
  font-weight: 300;
  font-size:22px;
  color:#FEDE01;
}
  
 ul {
  margin: 0;
  padding: 0;
} 
 
nav ul {
  display: flex;
  justify-content: center;
}
  
ul li {
  list-style: none;
}
  
li a {
  text-decoration: none;
  padding: 20px;
  color:#EAE2D8;
  font-family: urbana, sans-serif;
  font-weight: 400;
  font-size:13pt;
  transition: all .2s ease-in-out;
}

li:hover {
  transform: scale(1.08) perspective(1px);
}

li a:hover {
  color: #F16125;
}

.hero {
  background-image:url(images/keith_main_hero.png);
  width:1140px;
  height:520px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image:linear-gradient(to right, rgba(249, 223, 75, 1), rgba(249, 223, 75, 0), rgba(249, 223, 75, 0)),
  url(images/keith_main_hero.png);
  font-family: urbana, sans-serif;
  font-weight: 400;
  font-size:14pt;
  text-align:center;
}

.hero_content {
  position: absolute;
  top:132px;
  left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero_content img {
  width: 345px;
}

button {
  padding: 8px 22px;
  border-radius: 25px;
  border: solid #1E1E1E 3px;
  background:white;
  color: #1E1E1E;
  font-size: 15px;
  font-family: urbana, sans-serif;
  font-weight: 600;
  margin-top: 30px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

button:hover {
  background:#FEDE01;
  color: #1E1E1E;
  transform: scale(1.05) perspective(1px);
}

.carousel_nav {
  background-color:#1E1E1E;
  height:40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.about_timeline {
  height:2420px;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote h3 {
  font-family: chantal, sans-serif;
  font-weight: 300;
  font-size:25px;
  color:#EAE2D8;
  background: #1E1E1E;
  padding:20px 30px;
  text-align:center;
  margin-top:93px;
  margin-bottom:80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

h1 {
  color: #1E1E1E;
  font-size: 36px;
  font-family: urbana, sans-serif;
  font-weight: 600;
  margin-bottom:5px;
}

h2 {
  color: #8E8E8E;
  font-size: 20px;
  font-family: urbana, sans-serif;
  font-weight: 400;
  margin-top:0;
  margin-bottom:30px;
}

p {
  color: #1E1E1E;
  font-size:14px;
  font-family: pt-serif, serif;
  font-weight: 400;
}

.the_artist {
  display:flex;
  margin-left:50px;
}

.the_artist .card-1 {
  order:1;
  padding:25px;
  margin-left:25px;
}

.the_artist .card-2 {
  order:2;
  width:630px;
  margin-right:20px;
}

.section_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:70px;
}

.evolution {
  display:flex;
  justify-content:center;
  align-content:center;
  margin-bottom:55px;
}

.evolution .card-1 {
  margin:15px;
  background:#1E1E1E;
  height:293px;
  width:297px;
  position:relative;
}

.evolution .card-1 img {
  width:297px;
}

.evolution .card-1 p {
  color:#EAE2D8;
  text-align:center;
  margin-top:18px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgba(0, 0, 0, 0.85);
}

.overlay p {
  color: white;
  position: absolute;
  text-align: center;
  padding-left:20px;
  padding-right:20px;
}

.overlay h2 {
  text-align:center;
  margin-top:45px;
  margin-bottom:10px;
  color:white;
}

.card-1:hover .overlay {
  opacity: 1;
}

.artschool {
  display:flex;
  justify-content:center;
  align-content:center;
}

.artschool .card-1 {
  width:510px;
  padding:25px;
}

.artschool .card-2 img {
  margin-top:70px;
  margin-right: 20px;
}

.publiceye {
  display:flex;
  justify-content:center;
  align-content:center;
  margin-top:45px;
}

.publiceye .card-1 {
  margin-top:55px;
  margin-left:30px;
}

iframe {
  border:7pt solid #1E1E1E;
}

.publiceye .card-2 {
  width:400px;
  padding:25px;
}

.foreveryone {
  display:flex;
  justify-content:center;
  align-content:center;
  margin-top:70px;
}

.foreveryone .card-1 {
  width:400px;
  padding:25px;
}

.foreveryone .card-2 {
  margin-top:55px;
}

.artwork {
  background-color:#1E1E1E;
  height:1108px;
  margin-top:-75px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.artwork .section_title h1 {
  color: white;
  margin-top:160px;
  margin-bottom:10px;
}

.selectedwork {
  display:flex;
  justify-content:center;
  align-content:center;
}

.selectedwork .card-1 {
  margin:15px;
  background:white;
  height:340px;
  width:296px;
  text-align:center;
}

.selectedwork .card-1 button {
  margin-top:0px;
  padding: 6px 25px;
}

.selectedwork .card-1 p {
  color: #1E1E1E;
  text-align:center;
  margin-top:18px;
}

.selectedwork2 {
  display:flex;
  justify-content:center;
  align-content:center;
  margin-bottom:90px;
}

.selectedwork2 .card-1 {
  margin:15px;
  background:white;
  height:340px;
  width:297px;
  text-align:center;
}

.selectedwork2 .card-1 button {
  margin-top:0px;
  padding: 6px 25px;
}

.selectedwork2 .card-1 p {
  color: #1E1E1E;
  text-align:center;
  margin-top:18px;
}

.legacy {
  height:1970px;
}

.justice {
  display:flex;
  justify-content:center;
  align-content:center;
  margin-bottom:50px;
}

.justice .card-1 {
  padding:25px;
  margin-left:-40px;
}

.justice .card-2 {
  width:510px;
  margin-right:20px;
  margin-top:120px;
}

.hiv {
  display:flex;
  justify-content:center;
  align-content:center;
  margin-bottom:50px;
}

.hiv .card-1 {
  padding:25px;
  width:500px;
  margin-left:-50px;
  margin-bottom:50px;
}

.hiv .card-2 {
  width:420px;
  padding-top:135px;
}

.hiv button {
  margin-top:10px;
  padding: 6px 25px;
}

h4 {
  font-family: chantal, sans-serif;
  font-weight: 300;
  font-size:16px;
  color:#1E1E1E;
  margin-left:850px;
  margin-top:10px;
}

.closing {
  text-align:center;
  margin:auto;
  width:700px;
  margin-bottom:50px;
  margin-top:80px;
}

h5 {
  color: #1E1E1E;
  font-size:14px;
  font-family: pt-serif, serif;
  font-weight: 700;
}

.footer {
  background-color:#1E1E1E;
  height:172px;
  display:flex;
}

.footer h4 {
  color:#EAE2D8;
  font-size:20px;
  margin-top:42px;
  margin-left:0px;
}

.footer h2 {
  font-size:16px;
  color:#EAE2D8;
}

.footer .card-1 {
  width:700px;
  margin-left:100px;
}

.footer .card-2 {
  width:230px;
}

.footer .card-2 img {
  padding:2px;
  transition: all .2s ease-in-out;
}

.footer .card-2 img:hover {
  transform: scale(1.09) perspective(1px);
}

a {
  text-decoration: none;
  cursor: pointer;
}
